html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
}

section.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

hls-video {
  max-width: 72rem;
  max-height: 48rem;
  display: block;
  flex: 1 1 auto;
  margin: 1.5rem;
}

@media (min-width: 769px) {
  section.videos {
    flex-direction: row;
    height: 55rem;
  }
}